/*********************TAG SELECTROS***************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: 500;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  border-style: dotted none none;
  border-width: 7px;
  border-color: #dbdbdb;
  width: 5%;

}

p{
  color: #40514E;
  line-height: 2;
}

/*********************CLASS SELECTROS***************/
.top-container {
  background-color:   #EAF6F6;
  padding-top: 100px;
}

.profile{
  margin: 80px 0 90px;
  line-height: 2;
}

.middle-container {
}

.bottom-container {
}

.pro{
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 260px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 55px;
}

.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAF6F6;
}

.skills{
  margin-top: 90px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.giphy-embed{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.giphy-embed1{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.get-in{
  margin-top: 80px;
}

.loving-soccer{
  margin: 40px 0 40px;
}

.button {
    margin: 40px 0 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #16867f;
    border-radius: 8px;
    background: #23dacf;
    background: -webkit-gradient(linear, left top, left bottom, from(#23dacf), to(#16867f));
    background: -moz-linear-gradient(top, #23dacf, #16867f);
    background: linear-gradient(to bottom, #23dacf, #16867f);
    -webkit-box-shadow: #f7f7f7 0px 0px 40px 0px;
    -moz-box-shadow: #f7f7f7 0px 0px 40px 0px;
    box-shadow: #f7f7f7 0px 0px 40px 0px;
    text-shadow: #0e5450 1px 1px 1px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #1ba89f;
    background: #2afff8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2afff8), to(#1aa198));
    background: -moz-linear-gradient(top, #2afff8, #1aa198);
    background: linear-gradient(to bottom, #2afff8, #1aa198);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #16867f;
    background: -webkit-gradient(linear, left top, left bottom, from(#16867f), to(#16867f));
    background: -moz-linear-gradient(top, #16867f, #16867f);
    background: linear-gradient(to bottom, #16867f, #16867f);
}

.bottom-container{
  margin-bottom: 0;
  background-color:  #66BFBF;
  height: 100px;
  padding: 60px 0 15px;
}

.copyright{
  color:  #EAF6F6;
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}
